.app {
    /* Add app styles here */
}
.x-mmm .x-grid-row .x-grid-data-row .x-grid-row-over {
    background: black;
}
.wrapper {
    display: flex;
    margin-bottom: 2px;
}
.underline {
    width:100%;
    height:10px;
}
.n-t{
    height: 100%;
    width: 30px;
    padding: 4px;
    margin-right:2px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
}
.a-t{
    height: 100%;
    width: 120px;
    padding: 4px;
    margin-right:2px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
}
.i-t{
    height: 100%;
    padding: 4px;
    width: 60px;
    margin-right:2px;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
    font-size: 14px;
}
.name-t{
    height: 100%;
    padding: 4px;
    flex:2;
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    border-radius: 20px;
    padding: 4px 10px 4px 10px;
    background: repeating-linear-gradient(45deg,#F6F6F6,#F6F6F6 10px,#EFEFEF 10px,#EFEFEF 20px);
}
.g-t{
    height: 100%;
    width: 30px;
    padding: 4px;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}
.d-t{
    flex: 1;
    height: 100%;
    width: 30px;
    padding: 4px 10px 4px 10px;
    width: 30px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}
.good-removed {
    color: white;
    background: repeating-linear-gradient(45deg,#C6D614,#C6D614 10px,#B2C10F 10px,#B2C10F 20px);
}
.bad-removed {
    color: white;
    background: repeating-linear-gradient(45deg,#F51B1B,#F51B1B 10px,#D81818 10px,#D81818 20px);
}
.black-orange {
    color: orange;
    background: repeating-linear-gradient(45deg,#000000,#000000 10px,#333333 10px,#333333 20px);
}
.Backlog {
    color: black;
    background: repeating-linear-gradient(45deg,#F7C430,#F7C430 10px,#E6B62C 10px,#E6B62C 20px);
}
.Defined {
    color: black;
    background: repeating-linear-gradient(45deg,#F99221,#F99221 10px,#E3841D 10px,#E3841D 20px);
}
.In-Progress {
    color: black;
    background: repeating-linear-gradient(-45deg,#DAE31D,#DAE31D 10px,#C8D018 10px,#C8D018 20px);
}
.Completed {
    color: black;
    background: repeating-linear-gradient(-45deg,#53C8F2,#53C8F2 10px,#4FBCE2 10px,#4FBCE2 20px);
}
.Accepted {
    color: black;
    background: repeating-linear-gradient(45deg,#A8E000,#A8E000 10px,#B3EE01 10px,#B3EE01 20px);
}
.Live {
    color: black;
    background: repeating-linear-gradient(-45deg,#C0FF00,#C0FF00 10px,#B3EE01 10px,#B3EE01 20px);
    border: 1px dashed grey;
}
.red-white {
    color: white;
    background: repeating-linear-gradient(-45deg,#F51B1B,#F51B1B 10px,#D81818 10px,#D81818 20px);
    border: 1px dashed black;
}
.white-black {
    color: black;
    background: repeating-linear-gradient(45deg,#F0F0F0,#F0F0F0 10px,#D2D2D2 10px,#D2D2D2 20px);
}
.yellow-black {
    color: black;
    background: repeating-linear-gradient(45deg,#F3EF4B,#F3EF4B 10px,#E4E045 10px,#E4E045 20px);
}
.purple-white {
    color: white;
    background: repeating-linear-gradient(45deg,#351B75,#351B75 10px,#2F1867 10px,#2F1867 20px);
}
.green-white {
    color: white;
    background: repeating-linear-gradient(45deg,#C6D614,#C6D614 10px,#B2C10F 10px,#B2C10F 20px);
}
.green-black {
    color: black;
    background: repeating-linear-gradient(45deg,#C6D614,#C6D614 10px,#B2C10F 10px,#B2C10F 20px);
}
.pink-white {
    color: white;
    background: repeating-linear-gradient(45deg,#E63B8A,#E63B8A 10px,#D53680 10px,#D53680 20px);
}
.white-blue {
    color: white;
    background: repeating-linear-gradient(45deg,#2A95FF,#2A95FF 10px,#2589EB 10px,#2589EB 20px);
}
.light-orange-black {
    color: black;
    background: repeating-linear-gradient(45deg,#FFD300,#FFD300 10px,#F4CA00 10px,#F4CA00 20px);
}
.burnt-orange-black {
    color: black;
    background: repeating-linear-gradient(45deg,#FF9500,#FF9500 10px,#EE8B00 10px,#EE8B00 20px);
}
.light-purple-black {
    color: black;
    background: repeating-linear-gradient(45deg,#7D64B1,#7D64B1 10px,#7D64B1 10px,#7D64B1 20px);
}
.teal-white {
    color: white;
    background: repeating-linear-gradient(45deg,#266E5C,#266E5C 10px,#1E584A 10px,#1E584A 20px);
}
.move-white {
    color: white;
    background: repeating-linear-gradient(45deg,#7E90B4,#7E90B4 10px,#7586A7 10px,#7586A7 20px);
}